/* Start of Header */
header, footer {
    background-color: var(--color-secondary);
}

header nav {
    display: flex;
    align-items: center;
    transition: all 1s;
}

.header__logo_and_button {
    display: flex;
}

.header__links {
    display: flex;
    gap: 3rem;
    margin: 0;
    margin-left: auto;
    align-items: center;
}

.header__links a:hover, .header__links a.active {
    color: var(--color-highlight);
    transition: color 1s ease;
}

.header__links a {
    position: relative;
}

.header__links a::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 95%;
    height: 0px;
    width: 0%;
    translate: -50% -50%;
}

.header__links a:hover::after {
    height: 1px;
    width: 100%;
    transition: width 1s ease;
    background-color: var(--color-highlight);

}

.nav-toggle {
    display: none;
}

@media only screen and (max-width: 750px) {
    header nav {
        flex-direction: column;
        align-items: inherit;
        justify-items: center;
    }

    .header__logo_and_button {
        align-items: center;
    }
    .header__links {
        flex-direction: column;
        transition: all 1.2s ease;
        margin: auto;
        gap: 25px;
        max-height: 0;
        overflow: hidden;
        padding: 0;
    }

    .header__links.show {
        /*
        display: flex;
        flex-direction: column;;
        */
        max-height: 500px;
        padding: 15px;
        
    }

    .nav-toggle {
        display: block;
        margin-left: auto;
    }
}

.header__logo {
    max-width: 200px;
}

.header__logo img {
    max-width: 100%;
    height:auto;
}

/* End of Header */


/* Start of Footer */
footer nav {
    display: flex;
    align-items: center;
}

.footer__logo {
    max-width: 250px;
    align-items: center;
}

.footer__links {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin: 0;
    margin-left: auto;
}

.footer__links img{
    object-fit:contain;
    height: 30px;
}

@media only screen and (max-width: 750px) {
    footer nav {
        flex-direction: column;
        align-items: center;
    }

    .footer__links {
        margin: 0;
    }
}
/* End of Footer */