/* Start of Body */

section.top {
    height: 70vh;
    background-image: url(../img/coffee/coffee-background.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.top__container {
    gap: 1rem;
    padding: 0 3rem;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    backdrop-filter: blur(6px);
    background-color: rgba(71, 71, 71, 0.739);
}

.textbox__img {
    object-fit: cover;
    max-height: 400px;
    width: auto;
    border: 2px solid var(--white);
    border-radius: 10px;
}

@media only screen and (max-width: 590px) {
    .top__container {
        padding: 5px;
    }
    .textbox__title {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 420px) {
    .textbox__title {
        font-size: 2rem;
    }
}

section.body {
    padding: 20px;
}

.coffee-image-carousel img {
    height: 500px;
}

/* Customer Reviews */

section.customer-reviews {
    padding: 20px;
}

.reviews_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 1rem;
}

.review {
    background-color: var(--color-light-grey);

    gap: 20px;
    border-radius: 10px;
    padding: 20px;;
    
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
}

.review h2 {
    font-size: 1.6rem;
}

.review img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid var(--color-dark-grey);
    object-fit: cover;
    margin: auto;
}

@media only screen and (max-width: 980px) {
    .reviews_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 600px) {
    .reviews_grid {
        display: block;
    }

    .review {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 800px) {
    section.bottom {
        padding: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    section.bottom {
        padding: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    section.bottom {
        padding: 5px;
    }
}

.bottom__title {
    text-align: center;
    margin-bottom: 1rem;
}

.bottom-card {
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    background-color: var(--color-light-grey);
    padding: 3rem;
}

.bottom__description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.bottom-card__img {
    object-fit: cover;
    width: 50%;
    height: 50%;
    margin-left: 1rem;
}

@media only screen and (max-width: 800px) {
    .bottom-card {
        flex-direction: column;
    }

    .bottom-card__img {
        margin: 0;
        max-width: 500px;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .bottom-card {
        padding: 1rem;
    }
}