@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-text-color: rgb(0, 0, 0);
    --secondary-text-color: rgb(193, 193, 193);

    --main--bg-color: rgb(255, 255, 255);

    --light-orange: rgb(214, 126, 74);
    --light-yellow: rgb(242, 234, 209);
    --yellow: rgb(239, 191, 31);
    --dark-yellow: rgb(174, 124, 7);

}

body {
    background-color: var(--main--bg-color);
    color: var(--main-text-color);
    font-family: "DM Serif Text", serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol {
    margin: 0;
}

img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    display: block;
}

/* Start of Header */

header {
    background-color: var(--light-yellow);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 5rem;
}

.header__links {
    display: flex;
    gap: 1.5rem;

}

.header__links a:hover, .header__links .active {
    color: var(--dark-yellow);
    transition: color .5s;
}

.header__logo {
    max-width: 200px;
}

.header__logo img {
    max-width: 100%;
    height:auto;
}

/* End of Header */

/* Start of Body */

.top {
    display: flex;
    background-image: url(img/coffee/coffee-background.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.textbox {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.coffee-image-carousel img {
    height: 750px;
}

/* End of Body */

/* Start of Footer */
footer {
    background-color: var(--light-yellow);
}

footer nav {
    padding: 2rem 6rem;
    display: flex;
    align-items: center;
}

.footer__logo {
    max-width: 100px;
    align-items: center;
}

.footer__links {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-left: auto;
}

.footer__links img{
    max-height: 20px;
}
/* End of Footer */